@media (max-width: 1439px) {
        .sidepanel {
        display: none;
    }

}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
           column-gap: 20px; 
           grid-template: repeat(2, minmax(115px,auto))/repeat(2,250px);
           &-item {
            grid-template-columns: 40px 195px;
            column-gap: 15px;
           }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
            padding: 60px 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
        
        
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        padding-top: 60px;
        &__wrapper {
            padding: 0;
            grid-template-columns: 300px 520px;
        }
        &__form {
            grid-template-columns: repeat(2, 240px);
        }
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .promo {
        background-position-x: 65%;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
           grid-template-columns: repeat(2, 320px);
           gap: 60px;
        }
    }
    .skills {
        padding-top: 60px;
        &__wrapper {
            padding: 50px 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 60px;
    }
    .price {
       &__wrapper {
        grid-template-columns: repeat(auto-fit, 350px);
        padding: 0;
       
       } 
    }
    .contacts {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: minmax(auto, 700px);
        }
        &__form {
            grid-template-columns: repeat(2, 300px);
        }
        &__photo {
            display: none;
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}
@media (max-width: 768px) {
    
    .container {
        max-width: 540px;
    }
    .title {

        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
            img {
                object-position: 0% 0%;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
            
        }
        
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            padding: 40px 20px;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }

    .portfolio {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            margin-top: 20px;
        }
    }
    .contacts {
        &__wrapper {
           
            grid-template-columns: 1fr;
     
        }
        &__form {
            grid-template-columns: repeat(2, 220px);
        }
       
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .promo {
       
        &__btns {
            margin-top: 30px;
        }
    }
    .title {

        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .about {
        &__wrapper {
            grid-template:340px auto auto / 1fr; 
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        
    }
    .resume {
       
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
        &__item {
            &-icon {
                img {
                    left: 13px;
                }
            }
        }
    }
    .skills {
        &__wrapper {
            margin-top: 20px;
            padding: 0;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    .price {
        &__wrapper {
           grid-template-columns: repeat(auto-fit, 295px); 
        }
    }
    .contacts {
        padding-bottom: 50px;
       
        &__form {
            grid-template-rows: 45px 45px 190px minmax(45px, auto);
            grid-template-columns: 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}