.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
        color: white;
    }
    &_fz16 {
        color: white;
        font-size: 16px;
        line-height: 24px;
        z-index: 20;
    }
    &_fz36 {
        font-size: 36px;
        color: white;
    }
    &_fz48 {
        color: white;
        font-size: 48px;
    }
}
